@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  html{ color-scheme: dark;}
}

/* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* 
.tweet-class :global(.react-tweet-theme) {
  --tweet-body-font-size: 1rem;
  padding:100rem
} */

.tweet-class .react-tweet-theme {
    --tweet-bg-color: rgb(24 24 27);
    --tweet-bg-color-hover:rgb(26, 26, 29);
    --tweet-border: 1px solid rgba(236,182,59,.2);   /* tulip-400/20 */
  }

  /* @keyframes drawGrid {
    from {
      stroke-dasharray: 0, 200;
      stroke-dashoffset: 0;
    }
    to {
      stroke-dasharray: 200, 0;
      stroke-dashoffset: 100;
    }
  }
  
  .animated-grid {
    animation: drawLine .8s linear 1;
  } */
  
  @keyframes drawLine {
    from {
      visibility: visible;
      stroke-dasharray: 0, 100%;
      stroke-dashoffset: 0;
    }
    to {
      visibility: visible;
      stroke-dasharray: 100%, 0;
      stroke-dashoffset: 0;
    }
  }
  
  .animated-line {
    visibility: hidden;
    animation-name: drawLine;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }



  @keyframes draw {
    from {
      visibility: visible;
      stroke-dasharray: 0, 100%;
      stroke-dashoffset: 0;
      opacity: 1
    }
    to {
      visibility: hidden;
      stroke-dasharray: 100%, 0;
      stroke-dashoffset: 0;
      opacity:0
    }
  }

  .logo-paths {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 2s linear forwards;
  }